
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bootstarp-button-sizes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</head>
<body>
    <center>
        <h1 class="btn-primary">These are large buttons done with the help of bootstarp framework.</h1>
       <button type="button" class="btn btn-primary btn-lg mt-5 mr-3">Large Button</button>
       <button type="button" class="btn btn-secondary btn-lg mt-5 mr-3">Large Button</button>
       <button type="button" class="btn btn-success btn-lg mt-5 mr-3">Large Button</button>
       <button type="button" class="btn btn-danger btn-lg mt-5 mr-3">Large Button</button>
       <hr>
       <h1 class="btn-success">These are small buttons done with the help of bootstarp framework.</h1>
       <button type="button" class="btn btn-primary btn-sm mt-5 mr-3">Small Button</button>
       <button type="button" class="btn btn-secondary btn-sm mt-5 mr-3">Small Button</button>
       <button type="button" class="btn btn-success btn-sm mt-5 mr-3">Small Button</button>
       <button type="button" class="btn btn-danger btn-sm mt-5 mr-3">Small Button</button>
       <hr>
       <h1 class="btn-primary">These are block-level buttons done with the help of bootstarp framework.</h1>
       <button type="button" class="btn btn-primary btn-block mt-1 mr-3">Block Level Button</button>
       <button type="button" class="btn btn-secondary btn-lg btn-block mt-1 mr-3 px-5">Block Level Button</button>
       <button type="button" class="btn btn-success btn-lg btn-block mt-1 mr-3">Block Level Button</button>
       <button type="button" class="btn btn-danger btn-lg btn-block mt-1 mr-3">Block Level Button</button>
    </center>
</body>
</html>